# Зависимости
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build папка
build

# Docker файлы (не нужны в контейнере)
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Git и IDE файлы
.git
.gitignore
.vscode
.idea

# Logs
*.log

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local